.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Video
{
    width: 720px;;
    height: 480px;
}
@media only screen and (max-width: 400px)
{
    .Video {
        width: 320px;;
        height: 240px;
    }
}
